---
title: Jeff Chan
---

<header>
  <img class="profile" src="images/profile.jpg" />
  <h1><a href="http://jeffchan.net/" title="Jeff Chan">Hi, I'm Jeff Chan.</a></h1>
  <h2>I study Computer Science at MIT.</h2>
</header>
<div class="social">
  <a href="mailto:jefftchan@gmail.com" title="Email"><img class="icon gmail" /></a>
  <a href="https://github.com/jeffchan" title="GitHub"><img class="icon github" /></a>
  <a href="http://twitter.com/JeffChan" title="Twitter"><img class="icon twitter" /></a>
  <a href="http://linkedin.com/in/jeffchan" title="LinkedIn"><img class="icon linkedin" /></a>
</div>
